<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iostestone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>570111032DC1C00800E1CC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>570111192DC1C00B00E1CC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>570111232DC1C00B00E1CC62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
